body {
  font-family: var(--font-family-main);
  letter-spacing: 0.03em;
  color: var(--properties-text-color);
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --head-background-color: #FFFFFF;
  --main-bcg-color: #FFFFFF;
  --team-background-color: #F5F4FA;
  --hero-background-color: #2F303A;
  --footer-background-color: #2F303A;
  --accent-color: #2196F3;
  --logo-black-color: #000;
  --logo-white-color: #FFFFFF;
  --header-nav-text-color: #212121;
  --header-btn-text-color: #757575;
  --hero-text-color: #FFFFFF;
  --btn-text-color: #FFFFFF;
  --prorerties-background-color: #F5F4FA;
  --properties-title-color: #212121;
  --properties-text-color: #757575;
  --title-color: #212121;
  --team-top-text-color: #212121;
  --team-bottom-text-color: #757575;
  --team-background-color: #F5F4FA;
  --team-card-background-color: #FFFFFF;
  --footer-main-text-color: #FFFFFF;
  --footer-secondary-text-color: rgba(255, 255, 255, 0.6);
  --portfolio-bcg-color: #FFFFFF;
  --portfolio-title-text-color: #212121;
  --portfolio-btn-text-color: #212121;
  --portfolio-btn-bcg-color: #F5F4FA;
  --portfolio-main-text-color: #757575;
  --modal-main-text-color: #212121;
  --modal-secondary-text-color: #757575;
  --font-family-main: Roboto, Tahoma, sans-serif;
  --font-family-secondary: Raleway, sans-serif;
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 310px;
  padding: 10px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) skew(180deg);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  transform: skew(10deg);
  -webkit-transform: skew(10deg) scale(0.1);
  -moz-transform: skew(10deg) scale(0.1);
  -ms-transform: skew(10deg) scale(0.1);
  -o-transform: skew(10deg) scale(0.1);
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    padding: 39px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal-close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #FFFFFF;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn-icon {
  width: 11px;
  height: 11px;
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover .modal-close-btn-icon, .modal-close-btn:focus .modal-close-btn-icon {
  fill: var(--accent-color);
}

.modal-tittle {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--modal-main-text-color);
}

.modal-label,
.modal-text-area-label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.01em;
}

.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  color: var(--modal-main-text-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:hover, .modal-input:focus {
  border-color: var(--accent-color);
}
.modal-input::placeholder {
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-input:valid:not(:placeholder-shown) {
  background-color: rgba(0, 100, 0, 0.2);
}
.modal-input:invalid:not(:placeholder-shown) {
  background-color: rgba(100, 0, 0, 0.2);
}

.modal-input-content {
  position: relative;
}

.modal-field {
  margin-bottom: 10px;
}

.modal-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--modal-main-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.modal-input:hover + .modal-icon, .modal-input:focus + .modal-icon {
  fill: var(--accent-color);
}

.modal-input::placeholder {
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-text-area {
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.01em;
  color: var(--modal-main-text-color);
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text-area:hover, .modal-text-area:focus {
  border-color: var(--accent-color);
}

.check-content {
  margin-bottom: 30px;
}

.check-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 1.17;
  color: var(--modal-secondary-text-color);
}
@media screen and (min-width: 1200px) {
  .check-text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.input-check-rules {
  color: var(--accent-color);
}

.modal-check-icon {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #000000;
  fill: #FFFFFF;
  border-radius: 3px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-check:checked + .check-text .modal-check-icon {
  background-color: var(--accent-color);
  border-color: transparent;
  fill: #FFFFFF;
}
.input-check:focus + .check-text .modal-check-icon {
  border-color: var(--accent-color);
}

.modal__button {
  display: block;
  margin: 0 auto;
  padding: 0;
}
.modal__button:hover, .modal__button:focus {
  background-color: #ECECEC;
}

.logo--white, .logo--black {
  display: block;
  font-family: var(--font-family-secondary);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .logo--white, .logo--black {
    font-size: 26px;
    line-height: 1.19;
  }
}

.address__tel-link,
.address__mail-link,
.address__postal-link, .navigation__link, .mobile-menu__soc-link, .mobile-menu__contacts-mail, .mobile-menu__contacts-tel, .mobile-menu__nav-link, .contacts-list__link, .logo--white, .logo--black {
  text-decoration: none;
}

.address__list, .soc-media__list, .navigation__list, .examples-list, .btn-list, .clients-list, .team__contact-list, .team__list, .work__list, .properties__list, .mobile-menu__soc-list, .mobile-menu__contacts-list, .mobile-menu__nav-list, .contacts-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.logo--black {
  color: var(--logo-black-color);
}
.logo--black:hover, .logo--black:focus {
  color: var(--accent-color);
}

.logo--main {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo--main:hover, .logo--main:focus {
  color: var(--logo-color);
}
.logo--black:hover .logo--main, .logo--black:focus .logo--main {
  color: var(--logo-black-color);
}

.logo--white {
  color: var(--logo-white-color);
}
.logo--white:hover, .logo--white:focus {
  color: var(--accent-color);
}

.footer__logo--main {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__logo--main:hover, .footer__logo--main:focus {
  color: var(--logo-white-color);
}
.logo--white:hover .footer__logo--main, .logo--white:focus .footer__logo--main {
  color: var(--logo-white-color);
}

.contacts-list__item:not(:last-child) {
  margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .contacts-list__item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list__item {
    margin-right: 30px;
  }
}

.contacts-list__link {
  display: flex;
  justify-content: start;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--header-btn-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .contacts-list__link {
    font-size: 14px;
    line-height: 1.14;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.contacts-list__link:hover, .contacts-list__link:focus {
  color: var(--accent-color);
}

.contacts-list__icon-envelop,
.contacts-list__icon-tel {
  fill: var(--header-btn-text-color);
  margin-right: 8px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .contacts-list__icon-envelop,
.contacts-list__icon-tel {
    margin-right: 10px;
  }
}
.contacts-list__link:hover .contacts-list__icon-envelop, .contacts-list__link:focus .contacts-list__icon-envelop,
.contacts-list__link:hover .contacts-list__icon-tel,
.contacts-list__link:focus .contacts-list__icon-tel {
  fill: var(--accent-color);
}

.contacts-list__icon-envelop {
  width: 14px;
  height: 10px;
}
@media screen and (min-width: 1200px) {
  .contacts-list__icon-envelop {
    width: 16px;
    height: 12px;
  }
}

.contacts-list__icon-tel {
  width: 8px;
  height: 14px;
}
@media screen and (min-width: 1200px) {
  .contacts-list__icon-tel {
    width: 10px;
    height: 16px;
  }
}

.header {
  position: relative;
  background-color: var(--head-background-color);
  border-bottom: 1px solid #ECECEC;
}

.header__container {
  padding: 10px 0px;
  display: flex;
}
@media screen and (min-width: 768px) {
  .header__container {
    justify-content: space-between;
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
  .header__container {
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .header__logo--indent {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo--indent {
    margin-right: 93px;
  }
}

.header__contacts-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__contacts-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .header__contacts-list {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.no-scroll {
  overflow: hidden;
}

.mobile-menu__button {
  width: 40px;
  height: 40px;
  display: block;
  margin-left: auto;
  padding: 0;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .mobile-menu__button {
    display: none;
  }
}

.mobile-menu__icon {
  background-color: var(--head-background-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__button:hover .mobile-menu__icon {
  fill: var(--accent-color);
}
.mobile-menu__button:focus .mobile-menu__icon {
  fill: var(--accent-color);
}

.mobile-menu__close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  cursor: pointer;
}

.mobile-menu__close-icon {
  background-color: var(--head-background-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__close-button:hover .mobile-menu__close-icon {
  fill: var(--accent-color);
}
.mobile-menu__close-button:focus .mobile-menu__close-icon {
  fill: var(--accent-color);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  z-index: 1;
  transform: skew(180deg);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: skew(10deg);
  -webkit-transform: skew(10deg) scale(0.1);
  -moz-transform: skew(10deg) scale(0.1);
  -ms-transform: skew(10deg) scale(0.1);
  -o-transform: skew(10deg) scale(0.1);
}
.mobile-menu .container {
  height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}
@media screen and (min-width: 480px) {
  .mobile-menu .container {
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu__nav-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__nav-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  text-align: start;
  color: var(--header-nav-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__nav-link:hover, .mobile-menu__nav-link:focus {
  color: var(--accent-color);
}

.mobile-menu__contacts-list {
  margin-bottom: 64px;
}

.mobile-menu__contacts-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__contacts-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__contacts-tel:hover, .mobile-menu__contacts-tel:focus {
  border: 1px solid #EEEEEE;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.mobile-menu__contacts-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--header-btn-text-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__contacts-mail:hover, .mobile-menu__contacts-mail:focus {
  border: 1px solid #EEEEEE;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.mobile-menu__soc-list {
  display: flex;
}

.mobile-menu__soc-item:not(:last-child) {
  padding-right: 5px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
@media screen and (min-width: 480px) {
  .mobile-menu__soc-item:not(:last-child) {
    padding-right: 10px;
  }
}

.mobile-menu__soc-item:not(:first-child) {
  padding-left: 5px;
}
@media screen and (min-width: 480px) {
  .mobile-menu__soc-item:not(:first-child) {
    padding-left: 10px;
  }
}

.mobile-menu__soc-link {
  color: var(--accent-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__soc-link:hover, .mobile-menu__soc-link:focus {
  border: 1px solid #EEEEEE;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.hero {
  background-color: var(--hero-background-color);
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bcg-img-mob-1x.jpg);
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bcg-img-mob-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bcg-img-tab-1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bcg-img-tab-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bcg-img-desk-1x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bcg-img-desk-2x.jpg);
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-text-color);
  margin-top: 0;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.properties {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--main-bcg-color);
}
@media screen and (min-width: 1200px) {
  .properties {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.properties__list {
  margin-bottom: -30px;
}
@media screen and (min-width: 480px) {
  .properties__list {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .properties__list {
    max-width: 768px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: -30px;
  }
}
@media screen and (min-width: 1200px) {
  .properties__list {
    max-width: 1200px;
    margin-right: -30px;
  }
}

.properties__item {
  width: 100%;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .properties__item {
    width: calc(50% - 30px);
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .properties__item {
    width: calc(25% - 30px);
    margin-right: 30px;
  }
}

.properties__link {
  width: 100%;
  height: 120px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  display: block;
  text-align: center;
  border-radius: 4px;
  background-color: var(--prorerties-background-color);
}

.properties__top-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--properties-title-color);
}
@media screen and (min-width: 768px) {
  .properties__top-text {
    text-align: start;
  }
}

.properties__bottom-text {
  font-size: 14px;
  line-height: 1.71;
  text-align: justify;
  margin-top: 0;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .properties__bottom-text {
    text-align: start;
  }
}

.work {
  padding-top: 0;
  padding-bottom: 94px;
  background-color: var(--main-bcg-color);
}
@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work__title {
  margin-top: 0;
  margin-bottom: 50px;
}

.work__list {
  display: flex;
  margin-right: -30px;
}

.work__item {
  width: calc(33.3333333333% - 30px);
  height: 294px;
  margin-right: 30px;
}

.work__content-box {
  position: relative;
}

.work__text {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--team-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__list {
  margin-bottom: -30px;
}
@media screen and (min-width: 480px) {
  .team__list {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .team__list {
    max-width: 768px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: -30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    max-width: 1200px;
    margin-right: -30px;
  }
}

.team__item {
  width: 100%;
  margin-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc(50% - 30px);
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc(25% - 30px);
    margin-right: 30px;
  }
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__content {
  padding-top: 30px;
  padding-bottom: 24px;
  background-color: var(--team-card-background-color);
}

.team__name {
  font-weight: 500;
  color: var(--team-top-text-color);
  margin-top: 0;
  margin-bottom: 10px;
}

.team__position {
  color: var(--team-bottom-text-color);
  margin-top: 0;
  margin-bottom: 16px;
}

.team__contact-list {
  display: flex;
  justify-content: center;
}

.team__contact-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__contact-link:hover, .team__contact-link:focus {
  background-color: var(--accent-color);
}

.team__contact-icon {
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__contact-link:hover .team__contact-icon, .team__contact-link:focus .team__contact-icon {
  fill: #FFFFFF;
}

.team__contact-item:not(:last-child) {
  margin-right: 10px;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients-list {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-right: -15px;
  margin-bottom: -15px;
}
@media screen and (min-width: 480px) {
  .clients-list {
    max-width: 480px;
    margin-right: -30px;
    margin-bottom: -30px;
  }
}
@media screen and (min-width: 768px) {
  .clients-list {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-list {
    max-width: 1200px;
    flex-wrap: nowrap;
  }
}

.clients-link {
  width: 100%;
  height: 92px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients-item {
  width: calc(50% - 15px);
  margin-right: 15px;
  margin-bottom: 15px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-item:hover {
  border-color: var(--accent-color);
}
@media screen and (min-width: 480px) {
  .clients-item {
    width: calc(50% - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .clients-item {
    width: calc(33.3333333333% - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .clients-item {
    width: calc(16.6666666667% - 30px);
  }
}

.clients-icon {
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-item:hover .clients-icon {
  fill: var(--accent-color);
}
.clients-link:focus .clients-icon {
  fill: var(--accent-color);
}

.footer {
  background-color: var(--footer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer__content {
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
  }
}

.footer__logo--indent {
  margin-top: 0;
  margin-bottom: 20px;
}

.footer__address {
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer__address {
    text-align: start;
    margin: 0;
  }
}

.footer__connection-content {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer__connection-content {
    margin: 0;
  }
}

.footer__connection-content__title {
  margin-top: 0px;
  margin-bottom: 20px;
}

.examples {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .examples {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.btn-list {
  margin-top: 0;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
@media screen and (min-width: 768px) {
  .btn-list {
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .btn-list {
    margin-bottom: 50px;
  }
}

.btn-content:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 15px;
}

.examples-btn-item {
  padding: 6px 22px;
  border-radius: 4px;
  border: 1px solid transparent;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--portfolio-title-text-color);
  background-color: var(--portfolio-btn-bcg-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.examples-btn-item:hover, .examples-btn-item:focus, .examples-btn-item.current {
  color: #FFFFFF;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.examples-list {
  margin-bottom: -30px;
}
@media screen and (min-width: 480px) {
  .examples-list {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .examples-list {
    max-width: 768px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-right: -30px;
  }
}
@media screen and (min-width: 1200px) {
  .examples-list {
    max-width: 1200px;
    margin-right: -30px;
  }
}

.examples-item {
  width: 100%;
  margin-bottom: 30px;
  background-color: #FFFFFF;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.examples-item:hover, .examples-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) {
  .examples-item {
    width: calc(50% - 30px);
    margin-right: 30px;
  }
  .examples-item:nth-child(1) {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .examples-item {
    width: calc(33.3333333333% - 30px);
    margin-right: 30px;
  }
}

.examples-top-box {
  position: relative;
  overflow: hidden;
}

.examples-top-text {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  margin: 0;
  font-size: 18px;
  line-height: 1.56;
  background-color: rgba(33, 150, 243, 0.9);
  color: #FFFFFF;
  overflow: auto;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateY(101%);
  -moz-transform: translateY(101%);
  -ms-transform: translateY(101%);
  -o-transform: translateY(101%);
}
.examples-item:hover .examples-top-text {
  transform: translateY(0%);
}

.examples-content {
  padding: 20px 24px;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  flex-grow: 1;
}

.examples-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--portfolio-title-text-color);
  margin-bottom: 4px;
  margin-top: 0;
}

.examples-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--portfolio-main-text-color);
  margin-bottom: 0;
  margin-top: 0;
}

.button {
  min-width: 200px;
  min-height: 50px;
  border-color: transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--btn-text-color);
  background-color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  color: var(--accent-color);
  background-color: #FFFFFF;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .navigation__list {
    display: flex;
  }
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--header-nav-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link.current {
  position: relative;
  display: block;
  color: var(--accent-color);
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color);
}
.navigation__link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-color);
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.connection-content__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  color: var(--footer-main-text-color);
}
@media screen and (min-width: 1200px) {
  .connection-content__title {
    text-align: start;
  }
}

.soc-media__list {
  display: flex;
  justify-content: center;
}

.soc-media__link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-media__link:hover, .soc-media__link:focus {
  background-color: var(--accent-color);
}

.soc-media__item:not(:last-child) {
  margin-right: 10px;
}

.soc-media__icon {
  fill: #FFFFFF;
}

.mailing__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  color: var(--footer-main-text-color);
}
@media screen and (min-width: 1200px) {
  .mailing__title {
    text-align: start;
  }
}

.mailing__actions {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .mailing__actions {
    flex-direction: row;
  }
}

.mailing__input {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  padding: 15px 16px;
  font-size: 16px;
  line-height: 12.5;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.03em;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  color: var(--footer-main-text-color);
  background-color: var(--footer-background-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mailing__actions:hover .mailing__input, .mailing__actions:focus .mailing__input {
  border-color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .mailing__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .mailing__input {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.mailing__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.mailing__button:hover, .mailing__button:focus {
  background-color: #FFFFFF;
}

.mailing__button-name {
  margin-right: 10px;
}

.mailing__icon {
  fill: #FFFFFF;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mailing__button:hover .mailing__icon, .mailing__button:focus .mailing__icon {
  fill: var(--accent-color);
}

.address__tel-link,
.address__mail-link,
.address__postal-link {
  font-size: 14px;
  line-height: 1.71;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__tel-link:hover, .address__tel-link:focus,
.address__mail-link:hover,
.address__mail-link:focus,
.address__postal-link:hover,
.address__postal-link:focus {
  color: var(--accent-color);
}

.address__tel-link,
.address__mail-link {
  color: var(--footer-secondary-text-color);
}

.address__postal-link {
  color: var(--footer-main-text-color);
  min-width: 231px;
}

.address__item:not(:last-child) {
  margin-top: 0;
  margin-bottom: 9px;
}/*# sourceMappingURL=main.css.map */