:root {
    --head-background-color: #FFFFFF;
    --main-bcg-color: #FFFFFF;
    --team-background-color: #F5F4FA;
    --hero-background-color: #2F303A;
    --footer-background-color: #2F303A;
    --accent-color: #2196F3;
    --logo-black-color: #000;
    --logo-white-color: #FFFFFF;
    --header-nav-text-color: #212121;
    --header-btn-text-color: #757575;
    --hero-text-color: #FFFFFF;
    --btn-text-color: #FFFFFF;
    --prorerties-background-color: #F5F4FA;
    --properties-title-color: #212121;
    --properties-text-color: #757575;
    --title-color: #212121;
    --team-top-text-color: #212121;
    --team-bottom-text-color: #757575;
    --team-background-color: #F5F4FA;
    --team-card-background-color: #FFFFFF;
    --footer-main-text-color: #FFFFFF;
    --footer-secondary-text-color: rgba(255, 255, 255, 0.6);
    --portfolio-bcg-color: #FFFFFF;
    --portfolio-title-text-color: #212121;
    --portfolio-btn-text-color: #212121;
    --portfolio-btn-bcg-color: #F5F4FA;
    --portfolio-main-text-color: #757575;
    --modal-main-text-color: #212121;
    --modal-secondary-text-color: #757575;
    --font-family-main: Roboto, Tahoma, sans-serif;
    --font-family-secondary: Raleway, sans-serif;
}